#info {
    background: #F49AC2;
    color: #333;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
}

.info-flives {
    margin: 20px;
    color: #333;
    
}

.info-flives img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #333;
}

.info-flives div {
    color: #333;
}