#blog h3, h4 {
    text-align: center;
    color: #fff;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    
}

#blog article {
    margin: 15px;
    color: #fff;
}

#blog img {
    width: 100%;
    max-width: 1000px;
}